

<h1>@ViewBag.greetingMessage</h1>
<p> You have been greeted @ViewBag.userCounter times!</p>

<p> There have been a total of  @ViewBag.TotalCounter  greetings so far!</p>
<a href="/home">Click to go back</a>